@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Be Vietnam Pro", sans-serif;
  /* height: 300vh; */
  /* background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxODAxMjJfMTIx/MDAxNTE2NTUxNzQ2OTI0.hkB6T-yqMTiRL5iacgqe0e67UY1OqrlZVtaX6kHRyosg.twIYvKyheXiZO93eJjNt8QqftcC7gsxHpLx-Fd360Rkg.PNG.d_hye97/489.png?type=w800);
  background-size: cover;
  background-attachment: fixed; */
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
